body {
  background: url('bg.jpg') no-repeat;
  background-size: cover;
}
.kai_hotkeys {
  font-family: 'Ubuntu', sans-serif;
  margin: 100px 0 0 100px;
  color: #080808;
}
.kai_hotkeys_title {
  font-size: 2.5em;
  margin-bottom: 15px;
}

.kai_hotkeys_list {
  margin: 0;
  padding: 0;
  margin-left: 18px;
  line-height: 30px;
  color: #dedede;
}
.kai_hotkeys_list li span {
  color: #080808;
}
